<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-warning">
                <i class="bi bi-graph-up"></i> Chronologie
            </div>
            <div class="card-body">
                <canvas id="timelineChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-warning">
                <i class="bi bi-map"></i> Carte Géographique
            </div>
            <div class="card-body">
                <div id="geoMap" style="height: 300px;"></div>
            </div>
        </div>
    </div>
</div>